*.zip
# Compiled Static libraries
*.a
*.lib
*.la
*.lo

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex



# Visual Studio / Visual Studio Code
.vs/
.vscode/
*.user
*.userosscache
*.sln.docstates
*.suo
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user

# Visual Studio Code
.history/
*.code-workspace